extends: airbnb
plugins:
  - react
  - jsx-a11y
  - import
rules:
  no-use-before-define: [2, { functions: false }]
  max-len: [2, 80]
  react/jsx-filename-extension: 0
  no-underscore-dangle: [2, { allow: [ __looksOverride ]}]
